<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Exibir Informações Meteorológicas</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="../cadastro/cadastro.html">Cadastro</a></li>
                <!--<li><a href="#">Conta do Usuário</a></li> -->
                <!-- <li><a href="#">Editar Item Cadastrado</a></li> -->
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="exibir-meteorologico-container">
            <h1>Informações Meteorológicas</h1>
            <div class="informacoes">
                <p><strong>Temperatura:</strong> 25°C</p>
                <p><strong>Pressão Atmosférica:</strong> 1015 hPa</p>
                <p><strong>Umidade do Ar:</strong> 70%</p>
                <p><strong>Índice de Chuva:</strong> 20%</p>
                <p><strong>Condição Meteorológica:</strong> Ensolarado</p>
                <p><strong>Cidade:</strong> Sorocaba</p>
            </div>
        </div>
    </div>

</body>
</html>
